.dotted__red {
    display: inline-block;
    font-size: 40px;
    line-height: 0;
    color: #bf2f47;
}

.footer {
    background: #3b434c;
}

.container__footer {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    @include media($valueScreen1) {
        margin: 0 25px;
    }
}

.left__block .rigth__block {
    font-weight: 400;
}

.right__block_link {
    color: #fff;
    transition: color .3s;
    &:hover {
        color: $orange;
    }
}