.reviews {
    background: url(../img/content/reviews__bg.jpg) no-repeat center fixed;
    background-size: cover;
    padding: 100px 0;
    // position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(59, 67, 76, 0.9);
    }
}

.reviews__container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
    display: block;
    width: 21px;
    height: 40px;
    background: url(../img/content/arrow.png) no-repeat center;
    background-size: contain;
    opacity: 0.6;
    transition: all .3s;
    margin: 0 50px;
    &:hover {
        opacity: 1;
    }
}

.swiper-button-next {
    transform: rotate(180deg);
}

// .reviews__block {
//     max-width: 1140px;
// }
.reviews__avatar {
    width: 120px;
    height: 120px;
    border: 1px solid transparent;
    border-radius: 50%;
    background: no-repeat center;
    margin: 0 auto 35px;
}

.reviews__comment {
    font-size: 25px;
    font-style: italic;
    line-height: 40px;
    max-width: 70%;
    margin: 0 auto 35px;
}

.reviews__name {
    font-size: 18px;
    font-weight: 400;
}