.welcome {
    min-height: 100vh;
    background: url(../img/content/macbook-bg.jpg) no-repeat center fixed;
    background-size: cover;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(59, 67, 76, 0.9);
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 50px 30px;
}

.header__logo {
    display: block;
    height: 18px;
    width: 158px;
    background: url(../img/content/header__logo.png) no-repeat;
    background-size: cover;
}

.header__link {
    color: #fff;
    line-height: 16px;
    font-weight: 400;
    &:hover .header__burger {
        color: $orange;
    }
}

.header__burger {
    font-size: 20px;
    margin-left: 8px;
    transition: all .3s;
}

.content {
    margin: 0 auto;
    text-align: center;
    max-width: 68%;
}

.content__title {
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
}

.content__link {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff;
    min-width: 210px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
    transition: all .3s;
    margin-top: 25px;
    &:first-child {
        margin-right: 25px;
        @include media($valueScreen2) {
            margin-right: 0;
        }
    }
    &:nth-child(2) {
        @include media($valueScreen2) {
            margin-bottom: 30px;
        }
    }
    &:hover {
        background: $orange;
    }
}

.down__arrow {
    text-align: center;
    margin-bottom: 50px;
    &_link {
        display: inline-block;
        height: 40px;
        width: 40px;
        border: 2px solid #fff;
        border-radius: 50%;
        margin: 0 auto;
        position: relative;
        transition: all .3s;
        &:hover {
            border-color: $orange;
        }
        &_scroll {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}